.main-bg {
    width: 100%;
    position: relative;

    border-radius:2px;
  }
  .beijin{
    width: 100%;
    position: relative;
    top: -14px;
    left: 39px;
  }
  .main-lg {
    width:50%;
  
    position: absolute;
    border-radius:20px;
    right: 500px;
    top: 20px;
    padding: 100px 0;
    transform:translateX(50%);
    .kuang {
      position: relative;
      top: -49px;
      left: 285px;
      width: 40%;
      margin-left: 30px;
      margin-top: 50px;
      padding-left: 30px;
      border: 1px solid #000;
      border-radius: 2px;
      font-size: 22px;
      text-align: center;
    }
    .denglu{
        position: relative;
        top: 85px;
        left: -126px;
        width:40%;
        background:rgba(248,181,81,1);
        border-radius:2px;
        font-size:24px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:40px;
        text-align: center;
    }
    .zhuche {
      position: relative;
      top: -31px;
      left: 470px;
      width: 20%;
      background: #ffffff;
      border-radius: 2px;
      font-size: 16px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #e0a448;
      line-height: 31px;
    }
    .red{
        position: relative;
        top: 28px;
        left: 200px;
        height:23px;
        font-size:24px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(5,5,5,1);
        line-height:40px;
        padding:1px;
    }
  }
 
  