.main-bg {
  width: 100%;
  position: relative;
}
.main-lg {
  width: 40%;
  height: 60%;
  background: #ffffff;
  position: absolute;
  left: 706px;
  top: 96px;
  margin: auto;
  border-radius: 9px 9px 0 0;
}
.main-lg form {
  outline: solid;
}
.main-lg .box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 65px;
  left: 486px;
  border-radius: 9px;
  background: #f5f5f5 url("../images/登录注册/上传头像.png") no-repeat center center;
}
.main-lg .box input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.main-lg button {
  display: inline-block;
  width: 15%;
  position: absolute;
  top: 293px;
  left: 528px;
  font-size: 15px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #050505;
  line-height: 47px;
}
.main-lg h2 {
  text-align: center;
  background: #f8b551;
  border-radius: 9px;
}
.main-lg p {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #050505;
  line-height: 42px;
  margin: 0 0 0 100px;
}
.main-lg .xieyi {
  position: absolute;
  top: 311px;
  left: 153px;
}
.main-lg input[type="checkbox"] {
  margin: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  position: relative;
}
.main-lg input[type="checkbox"]::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -299px;
  left: -17px;
  background-color: #f8b551;
  width: 100%;
  height: 100%;
  border: 1px solid #f8b551;
}
.main-lg input[type="checkbox"]:checked::before {
  content: "\2713";
  border-radius: 50%;
  background-color: #f8b551;
  position: absolute;
  top: -299px;
  left: -17px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.main-lg .agree {
  position: absolute;
  top: 295px;
  left: 79px;
  font-size: 15px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #050505;
}
.main-lg .inpStyle {
  margin-left: 30px;
  border: 1px solid #000000;
  opacity: 0.39;
  border-radius: 2px;
  width: 28%;
  text-align: center;
}
#btn {
  width: 25%;
  background: #f8b551;
  margin: 20px 0 56px 200px;
  font-size: 19px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 47px;
  border-radius: 2px;
  position: absolute;
  top: 348px;
  left: 58px;
}
.error {
  color: red;
}
