footer {
  margin-top: 40px;
  background-color: #E3E3E3;
  padding: 30px;
}
footer .foot {
  width: 74%;
  margin: 0 auto;
}
footer .foot .bor {
  position: relative;
  margin-top: 12px;
  height: 3px;
  border-radius: 3px;
  background-color: #666666;
}
footer .foot .bor .bororg {
  border-radius: 3px;
  position: absolute;
  height: 3px;
  left: 0;
  top: 0;
  background-color: #F09C38;
}
footer .foot .flex-c {
  margin-top: 14px;
}
footer .foot .f-one {
  width: 30%;
}
footer .foot .f-two {
  width: 40%;
}
footer .foot .f-thr {
  width: 25%;
}
footer .foot p {
  color: #666666;
}
footer .foot a,
footer .foot span {
  transition: 0.7s;
  color: #666666;
}
footer .foot a:hover,
footer .foot span:hover {
  color: #f55c5c;
}
footer .skill {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
footer .skill li {
  width: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #f0a471;
  transition: 0.7s;
}
footer .skill li:hover {
  box-shadow: 0 0 10px gray;
}
footer .skill .capture {
  opacity: 0.1;
}
