header {
  width: 100%;
  background: #f5f5f5;
  box-shadow: 0 2px 10px #464646;
}
header .banner {
  width: 74%;
  margin: 0 auto;
}
header .nav li {
  width: 89px;
  cursor: pointer;
}
header .nav .orange {
  background: #F69219;
}
header .nav .orange a {
  color: #FFFFFF;
}
header .logined {
  position: relative;
}
header .logined div {
  position: absolute;
  z-index: -1;
}
header .logined img {
  width: 23px;
}
header .logined li:first-child {
  border-right: 2px solid #F69219;
}
header .logined a {
  color: #F69219;
}
header .logined a:hover {
  color: #f53f3f;
}
header .logined .user-namec {
  color: #747474;
  font-size: 12px !important;
  position: relative;
  width: 88px;
  left: -135%;
  top: 23px;
}
header .logined .myuser-img {
  border-radius: 50%;
  width: 50px ;
  height: 50px;
  position: relative;
  left: -60%;
  top: -13px;
  cursor: pointer;
  transition: 0.7s;
}
header .logined .myuser-img:hover {
  transform: scale(1.1);
}
header .logined .user-mesge {
  display: none;
  position: absolute;
  top: 55px;
  left: -73%;
  z-index: 10;
  background-color: #f5f5f5;
  box-shadow: 0 2px 10px gray;
  opacity: 0.9;
  border-radius: 6px;
}
header .logined .user-mesge li {
  width: 70px !important;
  border: 0;
  border-bottom: 1px solid gray;
  line-height: 30px;
  height: 30px;
  font-size: 16px;
  transition: 0.7s;
}
header .logined .user-mesge li:hover {
  background-color: #ff7b2f;
}
header .logined .user-mesge li a {
  color: black;
  transition: 0.5s;
}
header .logined .user-mesge li a:hover {
  color: lavender;
}
header li {
  width: 80px;
  text-align: center;
  color: #444444;
}
header a {
  color: #444444;
}
